<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="h1">Ecran prototype</h1>
            <ul class="nav nav-pills mt-3 mb-4">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/univers" routerLinkActive="active" ariaCurrentWhenActive="page">Univers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reporting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dossiers presta / transpa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Conf délai de latence ptf</a>
                </li>
            </ul>
        </div>
    </div>
</div>