<div class="card">
    <div class="card-header">
        Création d'une UO Custom
    </div>
    <div class="card-body">
        <div id="addUo" class="d-flex">
            <label for="">Nom de l'UO<sup>*</sup></label>
            <input type="text" pInputText class="p-inputtext-sm" placeholder="Custom 1x">
        </div>
        <div class="btn-picklist-add">
            <button pButton type="button" label="Annuler" class="p-button p-button-default">
          </button>
            <button pButton type="button" label="Créer" class="p-button p-button-success">
          </button>
        </div>
    </div>
</div>