<!-- <div class="text-center mb-3">
    <div class="btn-group align-items-center" role="group">
        <a routerLink="/folder/create-folder" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-lg btn-primary">Création de dossier</a>
        <a routerLink="/folder/init-folder" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-lg btn-primary">Dossier initié</a>
        <a routerLink="/folder/wait-folder" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-lg btn-primary">Dossier en attente de validation</a>
        <a routerLink="/folder/vigueur-folder" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-lg btn-primary">Dossier en vigueur</a>
        <a routerLink="/folder/cloture-folder" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-lg btn-primary">Dossier clôture</a>
        <a routerLink="/folder/archive-folder" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-lg btn-primary">Dossier archivé</a>
    </div>
</div> -->
<!-- <router-outlet></router-outlet> -->
<p-steps [model]="items" [(activeIndex)]="position" [readonly]="true"></p-steps>

<app-init-folder *ngIf="position==0"></app-init-folder>
<app-wait-folder *ngIf="position==1"></app-wait-folder>