<p-tree [value]="files1">
    <ng-template let-file pTemplate="default">
        {{file.label}}
    </ng-template>
    <ng-template let-file pTemplate="button">
        {{file.label}}
        <span class="p-buttonset" style="margin-left: 10px;">
        <button pButton type="button" title="Modifier" (click)="functModify()" icon="pi pi-pencil" class="p-button-sm p-button-success">
        </button>
        <button pButton type="button" title="Supprimer" (click)="functDelete()" icon="pi pi-trash" class="p-button-sm p-button-danger">
        </button>
        </span>
    </ng-template>
    <ng-template let-file pTemplate="groupe">
        <a pButton label="{{file.label}}" routerLink="/univers/ajout-portefeuille" routerLinkActive="active" ariaCurrentWhenActive="page" class="p-button-text no-padding no-color"></a>
    </ng-template>
    <ng-template let-file pTemplate="uo">
        <a pButton label="{{file.label}}" routerLink="/univers/ajout-uo" routerLinkActive="active" ariaCurrentWhenActive="page" class="p-button-text no-padding no-color"></a>
    </ng-template>
</p-tree>

<!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}"></p-confirmDialog>-->