<div class="card mb-4">
    <div class="card-header bg-danger text-light">
        Caractéristiques portefeuilles
    </div>
    <div class="card-body">
        <div class="row" id="rules-univers">
            <div class="col-sm-2 title">
                <ul class="list-group">
                    <li class="list-group-item">Id portefeuille</li>
                    <li class="list-group-item">Nom portefeuille</li>
                    <li class="list-group-item">Société de tête</li>
                    <li class="list-group-item">Société de gestion</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">4062</li>
                    <li class="list-group-item">12:18M</li>
                    <li class="list-group-item">NIMI</li>
                    <li class="list-group-item">Management</li>
                </ul>
            </div>
            <div class="col-sm-3 title">
                <ul class="list-group">
                    <li class="list-group-item">Date de création</li>
                    <li class="list-group-item">Date de cloture</li>
                    <li class="list-group-item">Catégorie</li>
                    <li class="list-group-item">Type portefeuille</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item">01/01/1995</li>
                    <li class="list-group-item">-</li>
                    <li class="list-group-item">Ouvert</li>
                    <li class="list-group-item">Non poché</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header bg-danger text-light">
        Règles d'intégration d'univers
    </div>
    <div class="card-body">
        <table class="table table-sm table-bordered text-center">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Règle</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-success text-light">UNAT-1</td>
                    <td>Automatique</td>
                    <td>Société contractante portefeuille non poché</td>
                </tr>
                <tr>
                    <td class="bg-success text-light">UNAT-1</td>
                    <td>Automatique</td>
                    <td>Société de gestion portefeuille non poché</td>
                </tr>
                <tr>
                    <td class="bg-success text-light">MAN-1</td>
                    <td>Surcharge manuelle</td>
                    <td>Surcharge manuelle de l'équipe référentielle</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>