<div class="card mb-4">
    <div class="card-header bg-danger text-light">
        Caractéristiques portefeuilles
    </div>
    <div class="card-body">
        <div class="row" id="rules-univers">
            <div class="col-sm-6">
                <div class="row p-0 align-items-center">
                    <div class="col-sm-4">
                        <strong>Id portefeuille</strong>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" pInputText class="p-inputtext-sm text-end w-100" value="4062" placeholder="Id portefeuille">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row p-0 align-items-center">
                    <div class="col-sm-4">
                        <strong>Date de création</strong>
                    </div>
                    <div class="col-sm-8">
                        <input type="date" pInputText class="p-inputtext-sm text-end w-100" value="1995-01-01">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row p-0 align-items-center">
                    <div class="col-sm-4">
                        <strong>Nom portefeuille</strong>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" pInputText class="p-inputtext-sm text-end w-100" value="12:18M">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row p-0 align-items-center">
                    <div class="col-sm-4">
                        <strong>Date de cloture</strong>
                    </div>
                    <div class="col-sm-8">
                        <input type="date" pInputText class="p-inputtext-sm text-end w-100" value="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row p-0 align-items-center">
                    <div class="col-sm-4">
                        <strong>Société de tête</strong>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" pInputText class="p-inputtext-sm text-end w-100" value="NIMI" placeholder="Société de tête">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row p-0 align-items-center">
                    <div class="col-sm-4">
                        <strong>Catégorie</strong>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" pInputText class="p-inputtext-sm text-end w-100" value="Ouvert" placeholder="Catégorie">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row p-0 align-items-center">
                    <div class="col-sm-4">
                        <strong>Société de gestion</strong>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" pInputText class="p-inputtext-sm text-end w-100" value="Management" placeholder="Société de gestion">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row p-0 align-items-center">
                    <div class="col-sm-4">
                        <strong>Type portefeuille</strong>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" pInputText class="p-inputtext-sm text-end w-100" value="Non poché" placeholder="Type portefeuille">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header bg-danger text-light">
        Règles d'intégration d'univers
    </div>
    <div class="card-body">
        <table class="table table-sm table-bordered text-center">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Règle</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-success text-light">UNAT-1</td>
                    <td>Automatique</td>
                    <td>Société contractante portefeuille non poché</td>
                </tr>
                <tr>
                    <td class="bg-success text-light">UNAT-1</td>
                    <td>Automatique</td>
                    <td>Société de gestion portefeuille non poché</td>
                </tr>
                <tr>
                    <td class="bg-success text-light">MAN-1</td>
                    <td>Surcharge manuelle</td>
                    <td>Surcharge manuelle de l'équipe référentielle</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>