/* You can add global styles to this file, and also import other style files */

input:focus,
select:focus,
textarea:focus {
    box-shadow: none !important;
}

.no-padding {
    padding: 0 !important;
}

.no-color {
    color: #000 !important;
}

.p-tree {
    padding: 0.5rem !important;
    background: #efefef !important;
}

.d-flex {
    display: flex;
    align-items: center;
}

button:focus {
    box-shadow: none !important;
}

.p-treenode-content {
    box-shadow: none !important;
    position: relative;
}

.p-treenode-content>span {
    cursor: pointer;
}

span.pi {
    font-size: 1.2rem;
    color: #000 !important;
}

span.pi.primary:before {
    color: blue;
}

span.pi.primary-light:before {
    color: #7486A1;
}

span.pi.secondary:before {
    color: green;
}

span.pi.secondary-light:before {
    color: #67815C;
}

span.pi.danger:before {
    color: red;
}

span.pi.warning:before {
    color: darkorange;
}

span.pi.warning-light:before {
    color: #9E8C5B;
}

span.p-treenode-label span {
    display: flex;
    align-items: center;
}

.p-treenode-content[aria-expanded="true"] .p-buttonset {
    display: none;
}

.p-picklist .p-picklist-list .p-picklist-item.p-highlight {
    background: #aaa !important;
    box-shadow: none !important;
}

.p-picklist .p-picklist-list,
.p-picklist .p-picklist-target {
    padding: 0 !important;
}

.p-picklist .p-picklist-header,
.cu-orderListWallet .p-orderlist-header,
.cu-orderListAgent .p-orderlist-header,
.cu-orderListAccount .p-orderlist-header,
.cu-orderListUo .p-orderlist-header {
    background: transparent !important;
    border: 0 !important;
    padding: 0 0 10px !important;
    text-align: center;
}

.p-picklist-filter-container,
.cu-orderListWallet .p-orderlist-filter-container,
.cu-orderListAgent .p-orderlist-filter-container,
.cu-orderListAccount .p-orderlist-filter-container,
.cu-orderListUo .p-orderlist-filter-container {
    border: 0 !important;
    padding: 0 0 15px !important;
}

.cu-orderListWallet div.item-list,
.cu-orderListAgent div.item-list,
.cu-orderListAccount div.item-list,
.cu-orderListUo div.item-list,
.p-picklist-source div.item-list,
.p-picklist-target div.item-list {
    display: flex;
    align-items: center;
}

.p-picklist-source span.picto,
.p-picklist-source .isTarget {
    display: none;
}

.cu-orderListWallet span.indice,
.p-picklist-source span.indice {
    background: #000;
    padding: 3px;
    margin-right: 10px;
    color: #fff;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
}

.cu-orderListWallet span.indice,
.p-picklist-target span.indice {
    margin: 0 8px;
}

.p-picklist .p-picklist-buttons .p-button,
.p-picklist .p-picklist-buttons .p-button span.pi {
    color: #fff !important;
    background: #000 !important;
    border-color: #000 !important;
}

.btn-picklist-add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

button.p-button.p-button-default {
    background: #000;
    border-color: #000;
    margin-right: 10px;
}

button.p-button.p-button-default:hover {
    background-color: rgba(0, 0, 0, .8);
    border-color: rgba(0, 0, 0, .8);
}

#addUo label {
    width: 20%;
}

#addUo input {
    width: 80%;
}

#addComments textarea {
    width: 100%;
    height: 80px;
}

.p-tree .p-tree-container .p-treenode {
    min-width: 400px;
}

ul.p-tree-container.ng-star-inserted {
    height: 500px;
}

.p-dropdown {
    width: 100%;
}

.p-checkbox-box,
.p-dropdown {
    box-shadow: none !important;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
    color: #fff !important;
}

.cu-orderListWallet .p-orderlist-controls,
.cu-orderListAgent .p-orderlist-controls,
.cu-orderListAccount .p-orderlist-controls,
.cu-orderListUo .p-orderlist-controls {
    display: none;
}

.p-orderlist.cu-orderListWallet .p-orderlist-list .p-orderlist-item,
.p-orderlist.cu-orderListAgent .p-orderlist-list .p-orderlist-item,
.p-orderlist.cu-orderListAccount .p-orderlist-list .p-orderlist-item,
.p-orderlist.cu-orderListUo .p-orderlist-list .p-orderlist-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

p-message>div {
    width: 100%;
    margin-bottom: 15px !important;
    justify-content: flex-start !important;
}

.p-steps ul li {
    background: #ddd;
}